# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Keys and Secrets
*.pem
*firebase*.json
firebase-service-account.json

# Database Dumps
*.sql
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Flutter/Dart (Client)
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Mac
.DS_Store
